
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/disneylandThumbmail.jpg" alt="Kid'In'Park">
            <div class="caption">
                <h3>Kid'IN'Park</h3>
                
                <p><a href="@Url.Action("KidInParkIdx", "Project")" class="btn btn-primary" role="button">En savoir plus</a>
            </div>
        </div>
    </div>
</div>